{% load staticfiles %}
<script type="text/javascript" src="{% static 'js/jquery.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/bootstrap.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/cookie.min.js' %}"></script>
<script>
    var csrftoken = $.cookie('csrftoken');
    function csrfSafeMethod(method) {
        return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
    }
    $.ajaxSetup({
        beforeSend: function (xhr, settings) {
            if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
                xhr.setRequestHeader("X-CSRFToken", csrftoken);
            }
        }
    });
</script>

<script>
    $(document).ready(function () {
        ('a.like').click(function(e){
            e.preventDefault();
            $.post('{% url "image_like" %}',
                {
                    id: $(this).data('id'),
                    action: $(this).data('action')
                },
                function(data){
                if (data['status'] == 'ok')
                {
                    var previous_action = $('a.like').data('action');
                    // toggle data-action
                    $('a.like').data('action', previous_action == 'like' ?'unlike' : 'like');
                    // toggle link text
                    $('a.like').text(previous_action == 'like' ? 'Unlike' :'Like');
                    // update total likes
                    var previous_likes = parseInt($('span.count .total').text());
                    $('span.count .total').text(previous_action == 'like' ? previous_likes + 1 : previous_likes - 1);
                }
            });
        });

        var page = 1;
        var empty_page = false;
        var block_request = false;
        $(window).scroll(function() {
            var margin = $(document).height() - $(window).height() - 200;
            if ($(window).scrollTop() > margin && empty_page == false && block_request == false) {
                block_request = true;
                page += 1;
                $.get('?page=' + page, function(data) {
                    if(data == '') {
                        empty_page = true;
                    }
                    else {
                        block_request = false;
                        $('#image-list').append(data);
                    }
                });
            }
        });
    });
</script>