{% extends 'layouts/base.html' %}
{% load crispy_forms_tags %}
{% block title %}Dashboard | Henry Lab Social Network {% endblock %}

{% block content %}
    <div class="container">
        <div class="row" style="margin-top: 3%">
            <h2 class="page-header">Dashboard</h2>
            {% include 'layouts/messages.html' %}

            {% with total_images_created=request.user.images_created.count %}
                <p>
                    Welcome to your dashboard. You have bookmarked {{ total_images_created }} image
                    {{ total_images_created|pluralize }}
                </p>
            {% endwith %}
        <p>Drag the following button to your bookmarks toolbar to bookmark images from other websites →
            <a href="javascript:{% include "launcher.js" %}" class="btn btn-primary">Bookmark it</a><p>
        <p>You can also <a href="{% url "edit" %}">edit your profile</a> or
            <a href="{% url "password_change" %}">change your password</a>.<p>
        </div>
    </div>
{% endblock %}