{% extends 'layouts/base.html' %}
{% load crispy_forms_tags %}
{% block title %}Dashboard | Henry Lab Social Network {% endblock %}

{% block content %}
    <div class="container">
        <div class="row" style="margin-top: 3%">
            <h2 class="page-header">Dashboard</h2>
            <p>Welcome to your dashboard. You can <a href="{% url 'edit' %}">edit your profile</a> or
                <a href="{% url 'password_change' %}">change your password</a>
            </p>
        </div>
    </div>
{% endblock %}